<app-toast [message]="toast.message"></app-toast>

<div class="login-register-tabs">
  <ul class="nav nav-tabs nav-justified">
    <li role="presentation"  [ngClass]="{'active':tab=='login'}" (click)="tab='login'"><a href="javascript:void(0)">Login</a></li>
    <li role="presentation" [ngClass]="{'active':tab=='register'}" (click)="tab='register'"><a href="javascript:void(0)">Register</a></li>
  </ul>
</div>

<div class="login-block" *ngIf="tab=='login'">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="input-group" [ngClass]="setClassEmail()">
        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
        <input class="form-control" type="email" name="email" formControlName="email" placeholder="Email" autofocus>
      </div>
      <div class="input-group" [ngClass]="setClassPassword()">
        <span class="input-group-addon"><i class="fa fa-key"></i></span>
        <input class="form-control" type="password" name="password" formControlName="password" placeholder="Password">
      </div>
      <button class="btn btn-primary login-btn" type="submit" [disabled]="!loginForm.valid"><i class="fa fa-sign-in"></i> Login</button>
    </form>
  </div>

  <div class="register-block" *ngIf="tab=='register'">
   aaaa
  </div>